<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">
    <bean id="springWebSocketHandler" class="com.huo.handler.SpringWebSocketHandler"></bean>
    <websocket:handlers>
        <websocket:mapping path="/websocket/socketServer.do" handler="springWebSocketHandler"/>
        <websocket:mapping path="/sockjs/socketServer.do" handler="springWebSocketHandler"/>
        <websocket:handshake-interceptors>
            <bean class="com.huo.interceptor.SpringWebSocketHandlerInterceptor"/>
        </websocket:handshake-interceptors>
        <websocket:sockjs/>
    </websocket:handlers>
</beans>